# **Setup**

* https://techtfq.com/blog/sql-project-sql-case-study-to-solve-and-practice-sql-queries#google_vignette=
* https://www.youtube.com/watch?v=AZ29DXaJ1Ts
* https://www.kaggle.com/datasets/mexwell/famous-paintings

In [2]:
import os
import regex as re
import pandas as pd
from sqlalchemy import create_engine

In [3]:
Folder_Input = 'Input Data'

# **Create Database Connection**

In [4]:
PGSQL_Server = 'localhost:5432'  # Use Your Server Name
PGSQL_Username = 'postgres'      # Use Your Username
PGSQL_Password = '23poonam'      # Use Your Password
PGSQL_Database = 'paintings'      # Use Your Database Name

connection_string = f'postgresql://{PGSQL_Username}:{PGSQL_Password}@{PGSQL_Server}/{PGSQL_Database}'
Query_Engine = create_engine(connection_string)

Connection = Query_Engine.connect()

## **Data Import**

## **Read Data Files**

In [5]:
Files_List = os.listdir(Folder_Input)
Files_List = sorted(Files_List)

print('No. Of Files Found:',len(Files_List))
print(Files_List)

No. Of Files Found: 8
['artist.csv', 'canvas_size.csv', 'image_link.csv', 'museum.csv', 'museum_hours.csv', 'product_size.csv', 'subject.csv', 'work.csv']

## **Filter CSV Filenames**

In [6]:
CSV_Files_List = [filename for filename in Files_List if '.csv' in filename.lower()]
# CSV_Files_List = [filename for filename in Files_List if re.findall(r'\.csv',filename,re.I)]

print('No. Of CSV Files:', len(CSV_Files_List))
print(CSV_Files_List)

No. Of CSV Files: 8
['artist.csv', 'canvas_size.csv', 'image_link.csv', 'museum.csv', 'museum_hours.csv', 'product_size.csv', 'subject.csv', 'work.csv']

## **Extract SQL Table Names**

In [7]:
# METHOD 01 - Extract Table Name 
for filename in CSV_Files_List:
    table_name = filename.split('.')[0]
    print(table_name)

artist
canvas_size
image_link
museum
museum_hours
product_size
subject
work

In [8]:
# METHOD 02 - Extract Table Name 
for filename in CSV_Files_List:
    table_name = re.findall('(\w+)\.csv$',filename)[0]
    print(table_name)

artist
canvas_size
image_link
museum
museum_hours
product_size
subject
work

## **Read & Load To SQL Database**

In [10]:
# Load Data To SQL Database
from IPython.display import clear_output

for filename in CSV_Files_List:
    clear_output(wait=True)
    print('Reading & Loading: ',filename)

    df = pd.read_csv(f'{Folder_Input}/{filename}')
    display(df.head(10))
    table_name = re.findall('(\w+)\.csv$',filename)[0]
    # print(table_name)

    df.to_sql(name=table_name,con=Connection,if_exists='replace',index=False)

Reading & Loading:  work.csv

,work_id,name,artist_id,style,museum_id
0,160228,Still Life with Flowers and a Watch,615,Baroque,43.0
1,160236,Still Life with Fruit and a Beaker on a Cock's...,615,Baroque,43.0
2,160244,Still Life with Fruit and a Goldfinch,615,Baroque,43.0
3,160252,Still Life with Fruit and Oysters,615,Baroque,43.0
4,160260,"Still Life with Fruit, Oysters, and a Porcelai...",615,Baroque,43.0
5,160268,The Overturned Bouquet,615,Baroque,43.0
6,125752,Arabian Horses at Pasture,757,Baroque,NaN
7,125818,Count Halm on His Basedow Estate,757,Baroque,NaN
8,23448,Horses at the Porch,757,Baroque,34.0
9,125763,Napoleon Before the Burning City of Smolensk,757,Baroque,NaN

In [11]:
df = pd.read_csv(f'{Folder_Input}/artist.csv')
df.dtypes

artist_id        int64
full_name       object
first_name      object
middle_names    object
last_name       object
nationality     object
style           object
birth            int64
death            int64
dtype: object

# **Read SQL Database Table**

In [15]:
df = pd.read_sql_table(table_name='artist',con=Connection,columns=[])
print(df.shape)
df.head()

(421, 9)

,artist_id,full_name,first_name,middle_names,last_name,nationality,style,birth,death
0,500,Pierre-Auguste Renoir,Pierre,Auguste,Renoir,French,Impressionist,1841,1919
1,501,Alexandre Cabanel,Alexandre,None,Cabanel,French,Classicist,1823,1889
2,502,James Ensor,James,None,Ensor,Belgian,Expressionist,1860,1949
3,503,Maximilien Luce,Maximilien,None,Luce,French,Pointillist,1858,1941
4,504,August Macke,August,None,Macke,German,Expressionist,1887,1914

In [23]:
Query00 = 'SELECT * FROM artist'

Query00_Output = pd.read_sql_query(Query00,Query_Engine)
print(Query00_Output.shape)
Query00_Output.head()

(421, 9)

,artist_id,full_name,first_name,middle_names,last_name,nationality,style,birth,death
0,500,Pierre-Auguste Renoir,Pierre,Auguste,Renoir,French,Impressionist,1841,1919
1,501,Alexandre Cabanel,Alexandre,None,Cabanel,French,Classicist,1823,1889
2,502,James Ensor,James,None,Ensor,Belgian,Expressionist,1860,1949
3,503,Maximilien Luce,Maximilien,None,Luce,French,Pointillist,1858,1941
4,504,August Macke,August,None,Macke,German,Expressionist,1887,1914

# **SQL Queries**

## **Query 01**
Fetch all the paintings which are not displayed on any museums?

In [29]:
print([filename.split('.')[0] for filename in CSV_Files_List])

['artist', 'canvas_size', 'image_link', 'museum', 'museum_hours', 'product_size', 'subject', 'work']

In [ ]:
Query00 = 'SELECT * FROM artist'

Query00_Output = pd.read_sql_query(Query00,Query_Engine)
print(Query00_Output.shape)
Query00_Output.head()

## **Query 02**
Are there museums without any paintings?

## **Query 03**
How many paintings have an asking price of more than their regular price?

## **Query 04**
Identify the paintings whose asking price is less than 50% of its regular price

## **Query 05**
Which canva size costs the most?

## **Query 06**
Which canva size costs the most?

## **Query 07**
Which canva size costs the most?

## **Query 08**
Which canva size costs the most?

## **Query 09**
Which canva size costs the most?

## **Query 10**
Identify the museums which are open on both Sunday and Monday.
Display museum name, city.

In [ ]:
print([filename.split('.')[0] for filename in CSV_Files_List])

['artist', 'canvas_size', 'image_link', 'museum', 'museum_hours', 'product_size', 'subject', 'work']

In [37]:
# pd.read_sql_query('SELECT * FROM museum',Query_Engine).head()

In [39]:
Query10 = '''SELECT m.name,m.city \
    FROM museum AS m, museum_hours AS mh1 \ 
    WHERE m.museum_id = mh1.museum_id \ 
	AND mh1.day = 'Sunday' \ 
	AND EXISTS (SELECT * FROM museum_hours AS mh2 \
				WHERE mh1.museum_id = mh2.museum_id \
				AND mh2.day = 'Monday')'''

Query10_Output = pd.read_sql_query(Query10,Query_Engine)
print(Query10_Output.shape)
Query10_Output.head()

ProgrammingError: (psycopg2.errors.SyntaxError) syntax error at or near "\"
LINE 1: ...T m.name,m.city     FROM museum AS m, museum_hours AS mh1 \
                                                                     ^

[SQL: SELECT m.name,m.city     FROM museum AS m, museum_hours AS mh1 \
    WHERE m.museum_id = mh1.museum_id \
	AND mh1.day = 'Sunday' \
	AND EXISTS (SELECT * FROM museum_hours AS mh2 				WHERE mh1.museum_id = mh2.museum_id 				AND mh2.day = 'Monday')]
(Background on this error at: https://sqlalche.me/e/20/f405)

## **Query 11**
Which canva size costs the most?

## **Query 15**
Which museum is open for the longest during a day. Dispay museum name, state
and hours open and which day?

In [ ]:
print([filename.split('.')[0] for filename in CSV_Files_List])

['artist', 'canvas_size', 'image_link', 'museum', 'museum_hours', 'product_size', 'subject', 'work']

In [ ]:
# pd.read_sql_query('SELECT * FROM museum',Query_Engine).head()

In [ ]:
Query15 = '''SELECT m.name,m.city \
    FROM museum AS m, museum_hours AS mh1 \ 
    WHERE m.museum_id = mh1.museum_id \ 
	AND mh1.day = 'Sunday' \ 
	AND EXISTS (SELECT * FROM museum_hours AS mh2 \
				WHERE mh1.museum_id = mh2.museum_id \
				AND mh2.day = 'Monday')'''

Query15_Output = pd.read_sql_query(Query15,Query_Engine)
print(Query15_Output.shape)
Query15_Output.head()

ProgrammingError: (psycopg2.errors.SyntaxError) syntax error at or near "\"
LINE 1: ...T m.name,m.city     FROM museum AS m, museum_hours AS mh1 \
                                                                     ^

[SQL: SELECT m.name,m.city     FROM museum AS m, museum_hours AS mh1 \
    WHERE m.museum_id = mh1.museum_id \
	AND mh1.day = 'Sunday' \
	AND EXISTS (SELECT * FROM museum_hours AS mh2 				WHERE mh1.museum_id = mh2.museum_id 				AND mh2.day = 'Monday')]
(Background on this error at: https://sqlalche.me/e/20/f405)