# **Setup**

- https://towardsdatascience.com/the-most-useful-advanced-sql-techniques-to-succeed-in-the-tech-industry-0f0690e8386c/

In [5]:
-- Get a list of databases
SELECT datname FROM pg_database
WHERE datistemplate = false

datname
postgres
dvd_rentals
world
periodic_table
lego
netflix
chinook
titanic
happiness_index
employees
pagila
holiday_songs
demo-vectorDB
ParkMaster

# **Create Table**

In [6]:
CREATE TABLE promo_sales(
  Sale_Person_ID VARCHAR(40) PRIMARY KEY,
  Department VARCHAR(40),
  Sales_Amount int
);

In [7]:
INSERT INTO promo_sales VALUES (001, 'Cosmetics', 500);
INSERT INTO promo_sales VALUES (002, 'Cosmetics', 700);
INSERT INTO promo_sales VALUES (003, 'Fashion', 1000);
INSERT INTO promo_sales VALUES (004, 'Jewellery', 800);
INSERT INTO promo_sales VALUES (005, 'Fashion', 850);
INSERT INTO promo_sales VALUES (006, 'Kid', 500);
INSERT INTO promo_sales VALUES (007, 'Cosmetics', 900);
INSERT INTO promo_sales VALUES (008, 'Fashion', 600);
INSERT INTO promo_sales VALUES (009, 'Fashion', 1200);
INSERT INTO promo_sales VALUES (010, 'Jewellery', 900);
INSERT INTO promo_sales VALUES (011, 'Kid', 700);
INSERT INTO promo_sales VALUES (012, 'Fashion', 1500);
INSERT INTO promo_sales VALUES (013, 'Cosmetics', 850);
INSERT INTO promo_sales VALUES (014, 'Kid', 750);
INSERT INTO promo_sales VALUES (015, 'Jewellery', 950);

In [8]:
SELECT * FROM promo_sales

sale_person_id,department,sales_amount
1,Cosmetics,500
2,Cosmetics,700
3,Fashion,1000
4,Jewellery,800
5,Fashion,850
6,Kid,500
7,Cosmetics,900
8,Fashion,600
9,Fashion,1200
10,Jewellery,900
11,Kid,700
12,Fashion,1500
13,Cosmetics,850
14,Kid,750
15,Jewellery,950

# **WINDOW Function**

calculate the subtotal sales amount for each department and add a column, _depttotal, to the table promo_sales

In [18]:
-- Option 01 (CTE)

WITH department_total AS (
SELECT promo_sales.Department, SUM(Sales_Amount)
FROM promo_sales
GROUP BY promo_sales.Department)

SELECT * 
FROM promo_sales, department_total 
WHERE promo_sales.department = department_total.department

sale_person_id,department,sales_amount,department,sum
1,Cosmetics,500,Cosmetics,2950
2,Cosmetics,700,Cosmetics,2950
3,Fashion,1000,Fashion,5150
4,Jewellery,800,Jewellery,2650
5,Fashion,850,Fashion,5150
6,Kid,500,Kid,1950
7,Cosmetics,900,Cosmetics,2950
8,Fashion,600,Fashion,5150
9,Fashion,1200,Fashion,5150
10,Jewellery,900,Jewellery,2650
11,Kid,700,Kid,1950
12,Fashion,1500,Fashion,5150
13,Cosmetics,850,Cosmetics,2950
14,Kid,750,Kid,1950
15,Jewellery,950,Jewellery,2650

In [20]:
-- Option 02 (CTE With Table Join)

WITH department_total AS (
SELECT promo_sales.Department, SUM(Sales_Amount)
FROM promo_sales
GROUP BY promo_sales.Department)

SELECT * 
FROM promo_sales
JOIN department_total ON department_total.department = promo_sales.department

sale_person_id,department,sales_amount,department,sum
1,Cosmetics,500,Cosmetics,2950
2,Cosmetics,700,Cosmetics,2950
3,Fashion,1000,Fashion,5150
4,Jewellery,800,Jewellery,2650
5,Fashion,850,Fashion,5150
6,Kid,500,Kid,1950
7,Cosmetics,900,Cosmetics,2950
8,Fashion,600,Fashion,5150
9,Fashion,1200,Fashion,5150
10,Jewellery,900,Jewellery,2650
11,Kid,700,Kid,1950
12,Fashion,1500,Fashion,5150
13,Cosmetics,850,Cosmetics,2950
14,Kid,750,Kid,1950
15,Jewellery,950,Jewellery,2650

In [16]:
-- Option 02 (Using Window function)

SELECT Sale_Person_ID, Sales_Amount, department,
    SUM(Sales_Amount) OVER (PARTITION BY Department) AS dept_total 
FROM promo_sales;

sale_person_id,sales_amount,department,dept_total
2,700,Cosmetics,2950
1,500,Cosmetics,2950
7,900,Cosmetics,2950
13,850,Cosmetics,2950
8,600,Fashion,5150
3,1000,Fashion,5150
5,850,Fashion,5150
9,1200,Fashion,5150
12,1500,Fashion,5150
10,900,Jewellery,2650
15,950,Jewellery,2650
4,800,Jewellery,2650
11,700,Kid,1950
6,500,Kid,1950
14,750,Kid,1950

# **RANK Function**

rank the sales persons by their performance during the promotion within each department

In [23]:
SELECT *,
    RANK() OVER (PARTITION BY department ORDER BY Sales_Amount DESC) AS Rank_in_dept
FROM promo_sales

sale_person_id,department,sales_amount,rank_in_dept
7,Cosmetics,900,1
13,Cosmetics,850,2
2,Cosmetics,700,3
1,Cosmetics,500,4
12,Fashion,1500,1
9,Fashion,1200,2
3,Fashion,1000,3
5,Fashion,850,4
8,Fashion,600,5
15,Jewellery,950,1
10,Jewellery,900,2
4,Jewellery,800,3
14,Kid,750,1
11,Kid,700,2
6,Kid,500,3

# **SUB QUERY**

## **For New Column**

add a new column to calculate the percentage of each sale compared to the average sales amount in their department. This will give us insight into how each salesperson is performing relative to their departments average.

In [25]:
SELECT department, AVG(Sales_Amount) 
FROM promo_sales
GROUP BY department

department,avg
Jewellery,883.3333333333333333
Kid,650.0000000000000000
Cosmetics,737.5000000000000000
Fashion,1030.0000000000000000

In [28]:
SELECT ps.*, 
    ROUND(Sales_Amount/ (
        SELECT AVG(Sales_Amount) 
        FROM promo_sales AS ps2 
        WHERE ps.department = ps2.department)
        *100,2) AS  Percent_of_Dept_Avg
FROM promo_sales AS ps

sale_person_id,department,sales_amount,percent_of_dept_avg
1,Cosmetics,500,67.80
2,Cosmetics,700,94.92
3,Fashion,1000,97.09
4,Jewellery,800,90.57
5,Fashion,850,82.52
6,Kid,500,76.92
7,Cosmetics,900,122.03
8,Fashion,600,58.25
9,Fashion,1200,116.50
10,Jewellery,900,101.89
11,Kid,700,107.69
12,Fashion,1500,145.63
13,Cosmetics,850,115.25
14,Kid,750,115.38
15,Jewellery,950,107.55

## **SUB QUERY With FROM Clause**

table mkt_cost contains the advertising costs for all departments during this promotion. To determine which department is the most cost-efficient, we need to calculate the return on advertising spend for each department. We can use a subquery to create a new table that includes the total sales amounts and marketing costs for these departments, and then analyze the data in this new table.

![](https://towardsdatascience.com/wp-content/uploads/2024/07/1M2sE8qNm_PhuZdNJv7Ztag.png)

In [49]:
--Create Table
CREATE TABLE mkt_cost_table (Department VARCHAR(40), Mkt_Cost int);

-- Insert Data
INSERT INTO mkt_cost_table VALUES ('Cosmetics',305);
INSERT INTO mkt_cost_table VALUES ('Fashion',400);
INSERT INTO mkt_cost_table VALUES ('Jewellery',195);
INSERT INTO mkt_cost_table VALUES ('Kid',150);

-- View Table
SELECT * FROM mkt_cost_table;

department,mkt_cost
Cosmetics,305
Fashion,400
Jewellery,195
Kid,150

In [85]:
SELECT ps.department, SUM(ps.sales_amount) AS dept_sales_amt
    , mkt_cost_table.mkt_cost 
FROM promo_sales AS ps
GROUP BY ps.department
JOIN mkt_cost_table ON ps.department = mkt_cost_table.department

: syntax error at or near "JOIN"

In [117]:
SELECT 
    Department, 
    dept_ttl,
    Mkt_Cost,
    dept_ttl/Mkt_Cost AS ROAS
FROM 
    (SELECT
        s.Department,
        SUM(s.Sales_Amount) AS dept_ttl,
        c.Mkt_Cost
     FROM 
        promo_sales s
     GROUP BY s.Department
     LEFT JOIN 
        mkt_cost_table c
     ON s.Department=c.Department
     )

: syntax error at or near "LEFT"

## **SUB QUERY With WHERE Clause**

select sales persons whose sales amount exceeded the average amount of all sales persons

In [30]:
SELECT AVG(Sales_Amount) FROM promo_sales

avg
846.6666666666666667

In [37]:
SELECT *
FROM promo_sales 
WHERE Sales_Amount >= (SELECT AVG(Sales_Amount) FROM promo_sales)

sale_person_id,department,sales_amount,avg_sales_amt
3,Fashion,1000,847
5,Fashion,850,847
7,Cosmetics,900,847
9,Fashion,1200,847
10,Jewellery,900,847
12,Fashion,1500,847
13,Cosmetics,850,847
15,Jewellery,950,847

# **CTE**

## **Non-recursive CTE**

Non-recursive CTEs are used to simplify complex queries through breaking them down into more manageable parts. They dont reference themselves so they are the simplest type of CTEs.

**Query**
Now, lets use the non-recursive CTEs to work with data table promo_sales. The task is to calculate the average sales amount from each department and compare it with the store average during the promotion.

In [111]:
WITH dept_avg AS (
    SELECT department, AVG(sales_amount) AS avg_sales
    FROM promo_sales AS ps 
    GROUP BY ps.department),

    store_avg AS (SELECT AVG(Sales_Amount) AS store_avg FROM promo_sales)

SELECT d.department, d.avg_sales, s.store_avg, d.avg_sales - s.store_avg AS diff
FROM dept_avg AS d 
CROSS JOIN store_avg AS s

department,avg_sales,store_avg,diff
Jewellery,883.3333333333333333,846.6666666666666667,36.6666666666666666
Kid,650.0000000000000000,846.6666666666666667,-196.6666666666666667
Cosmetics,737.5000000000000000,846.6666666666666667,-109.1666666666666667
Fashion,1030.0000000000000000,846.6666666666666667,183.3333333333333333

## **Recursive CTE**

Recursive CTEs references themselves within their definitions, allowing you to work with hierarchical or tree-structure data.

**Query**
Since recursive CTEs can deal with hierarchical data, we are trying to generate a sequence of numbers from 1 to 10

In [116]:
WITH RECURSIVE table1(n) AS (
    SELECT 1

    UNION ALL 
    
    SELECT n+1 FROM table1 WHERE n < 10 
)

SELECT * FROM table1;

n
1
2
3
4
5
6
7
8
9
10