# **Create Database**

In [5]:
CREATE DATABASE demo01

#Â **Crea<span style="color: var(--vscode-foreground);">te Tables</span>**

In [13]:
CREATE TABLE Customers(
    CustomerID INT PRIMARY KEY,
    FirstName VARCHAR,
    LastName VARCHAR,
    Phone SMALLINT,
    Email VARCHAR(30)
)

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'Customers' in the database.