In [2]:
SELECT * FROM Museum
WHERE city = 'London' AND state = 'England'
ORDER BY name DESC
LIMIT 10

museum_id,name,address,city,state,postal,country,phone,url
62,The Tate Gallery,Millbank,London,England,SW1P 4RG,UK,+44 (0)20 7887 8888,https://www.tate.org.uk/visit/tate-britain
47,National Gallery,Trafalgar Square,London,England,WC2N 5DN,UK,+44 (0)20 7747 2885,https://www.nationalgallery.org.uk/